.lectureCard {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: space-evenly;
}

/* .lectureCard .lectureCardDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto
} */