.lecture-card {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.lecture-card:hover {
  background-color: lightyellow;
  box-shadow: 2px 2px lightgray;
}

.lecture-card-details {
  width: auto;
  vertical-align: middle;
}

.lecture-card-title {
  opacity: 0.8;
  width: 48%;
  font-size: 18px;
  text-align: left;
  justify-content: flex-start;
  font-family: ;
}

.lecture-card-title:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 1.0;
}