.lecture-card {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.lecture-card:hover {
  background-color: lightyellow;
}

.lecture-card-details {
  padding-left: 20px;
  width: auto;
}

.lecture-card-title:hover {
  cursor: pointer;
}