.topic-card-container {
	padding: 10px;
	border: 1px solid #ddd300;
	border-radius: 10px;
	margin-bottom: 20px;
	width: 80%;
}

.topic-info {
	font-family: "roboto";
}

.topic-info-header {
	display: flex;
	justify-content: left;
	align-items: center;
	color: black;
}

.topic-info-visbility {
	width: 20px;
	height: 20px;
}

.topic-info-title {
	width: 88%;
	display: flex;
	align-items: center;
	opacity: 0.8;
	font-size: 18px;
	border: none;
	outline: none;
	font-weight: bold;
	font-family: "roboto";
}

.topic-info-description {
	color: #7e7e7e;
	font-size: 14px;
	opacity: 0.8;
	margin-block-end: 1em;
	padding: 10px;
	width: 90%;
	word-wrap: break-word;
	align-items: center;
	opacity: 0.8;
	border: none;
	outline: none;
	font-family: "roboto";
}

.topic-info-description .expanded {
	display: flex;
}

.topic-info-description .collapsed {
	display: none;
}

hr {
	width: 98%;
	opacity: 25%;
}

hr .expanded {
	display: flex;
}

hr .collapsed {
	display: off;
}

.emoji {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #7e7e7e;
}

.emoji img {
	opacity: 0.75;
}

.emoji img:hover {
	cursor: pointer;
	opacity: 1;
}

.emoji .expanded {
	display: flex;
}

.emoji .collapsed {
	display: none;
}

.reaction-counter {
	font-size: 14px;
	color: #c4c4c4;
}

.new_response_button {
	margin-left: 20px;
	padding-right: 5px;
}
