.lectures-container {
  font-family: 'roboto';
}

.lectures-page-header{
  display: flex;
  align-items: center;
}

.lectures-page-title{
  padding-left: 10px;
}

.lectures-list{
  /* display: flex; */
  width: 100%;
}

.lectures-container{
  display: flex;
}