.quiz-container {
  padding: 0 20px;
  font-family: 'Roboto';
  border: 1px solid #c4c4c4;  
  /* padding: 10px; */
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.quiz-header-row {
  display: flex;
  justify-content: space-between;
}

.quiz-card-header {
  display: flex;
  align-items: center;
}

.quiz-header-title {
  display: flex;
  font-family: 'roboto';
  color: #c4c4c4;
  font-size: 18px;
  align-items: center;
  padding-left: 10px;
}

.quiz-header-icon {
  opacity: .15;
}

.quiz-header-title {
  padding-left: 10px;
}

.quiz-delete {
  font-family: 'roboto';
  color: #c4c4c4;
  font-size: 10px;
  align-items: center;
  display: flex;
}

.quiz-question-row {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: 'roboto';
  width: 100%
}

.quiz-icon {
  padding: 0 10px 0 0;
}

.quiz-question {
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-size: 18px;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: 'roboto';
  padding-bottom: 20px;
  color: #747474
}

.quiz-answer-textarea {
  padding: 20px;
  height: 16px !important;
  margin: 0 5%;
  width: 74%;
  font-family: 'roboto';
}

.quiz-answer-settings-row {
  padding-left: 10px;
  
}

.quiz-answer-correct-checkbox {
  display: inline-flex;
  width: 20px;
  height: 20px;
  /* margin-left: 14px; */
}

.quiz-answer-delete {
  font-family: 'roboto';
  color: #c4c4c4;
  font-size: 10px;
  align-items: center;
  display: inline-flex;
}

.quiz-answer-column {
  align-items: center;
}

.quiz-answer-message {
  font-size: 18px;
  color: #7e7e7e;
  font-family: 'roboto';
  display: flex;
  justify-content: center;
  padding: 20px;
}

.quiz-button {
  display: flex;
  justify-content: center;
  align-items: center;
}