.activity-feed-container {
  width: 40%;
  padding: 0 0 20px 20px;
  font-family: 'Roboto';
  overflow-y: scroll;
  height: 80vh;
  /* position: absolute; */
}

.activity-feed-card-header-row {
  display: flex;
  justify-content: space-between;
  position: fixed;
  
}

.activity-feed-card-header {
  display: flex;
  align-items: center;
}

.activity-feed-icon {
  opacity: .15;
}

.activity-feed-card-title {
  display: flex;
  padding-left: 10px;
  color: #c4c4c4;
  font-size: 18px;
}