.activity-feed-container {
	width: 40%;
	font-family: "Roboto";
	overflow-y: scroll;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.activity-feed-card-header-row {
	display: flex;
  justify-content: space-between;
  width: 94%;
}

.activity-feed-card-header {
	display: flex;
	align-items: center;
}

.activity-feed-icon {
	opacity: 0.15;
}

.activity-feed-card-title {
	display: flex;
	padding-left: 10px;
	color: #c4c4c4;
	font-size: 18px;
}
